@use "./variables.scss" as *;

// put your custom CSS here!

iframe.pdf {
  width: 100%;
  height: 80vh;
  min-height: 700px;
  border: none;
}

@media all and ($mobile) {
  .page > #quartz-body > footer {
    min-width: 0;
    width: min(100%, calc(100vw - 2rem));
  }

  .page > #quartz-body > footer > ul {
    flex-wrap: wrap;
  }
}
